body{
    background-image:url(space1.jfif);
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    background-color:silver;
    text-align:center;
    border:solid gray 3px;
    border-radius:2px;
    font-size:18pt;
    color:black;
}
a{
    text-decoration:none;
    color:black;
    font-size:18pt;
}
a:hover{
    color:white;
}
.container > div:nth-child(1n){
    background-color: silver;
}
.container > div:nth-child(2n){
    background-color:blue;
    background:-moz-linear-gradient(top, silver, blue);
    background:-ms-linear-gradient(top, silver, blue);
    background:-o-linear-gradient(top, silver, blue);
    background:-webkit-linear-gradient(top, silver, blue);
}
.container > div:nth-child(3n){
    
    background:-moz-linear-gradient(top, silver, blue);
    background:-ms-linear-gradient(top, silver, blue);
    background:-o-linear-gradient(top, silver, blue);
    background:-webkit-linear-gradient(top, silver, blue);
}
.container{
    display:grid;
    height:100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(16,1fr);
}
.header{
  grid-column:1/-1;
  border:solid gray 3px;
  border-top:none;
  text-align:center;
}
.col-1{
   grid-column:2/-4;
   grid-row:2/-1;
   min-width:300px;
}
.col-2{
  grid-column:4/-2;
  grid-row:2/-1;
  min-width:300px;
}
.null{
    grid-column:-1;
    grid-row:2/-1;
}
.games-1{
    position:relative;
    left:40%;
}
.gamedesc{
    color:white;
    position:absolute;
}